* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ralewayLight;
    src: url(../assets/fonts/Raleway/static/Raleway-Light.ttf);
}

.fontRalewayLight {
    font-family: ralewayLight;
}

.homeBackground {
    width: 100%;
    height: auto;
}

.header {
    background-color: white;
}

.navTop {
    margin-left: 13%;
    margin-top: 0.4%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-top: 2vh;
    margin-left: 13%;
}

.logo img {
    width: 15vw;
}

.navTopItem {
    display: inline-flex;
    text-align: left;
    font-size: 1.2rem;
    line-height: 25px;
    color: gray;
    text-decoration: none;
    margin-right: 0.3%;

}